body {
  height: 10000px;
  overflow-y: scroll;
}
.landing {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

.title-1 {
  color: hsl(218, 81%, 95%);
}

.title-5 {
  color: hsl(218, 81%, 90%);
}

.title-p {
  color: hsl(218, 81%, 85%);
}

#card-custom {
  width: 350px;
  height: 500px;
  background-color: hsla(0, 0%, 100%, 0.15);
  backdrop-filter: blur(30px);
}

#shape-1 {
  height: 220px;
  width: 220px;
  background: radial-gradient(#44006b, #ad1fff);
  bottom: -100px;
  left: -90px;
}

#shape-2 {
  border-radius: 46% 54% 49% 51% / 100% 56% 44% 0%;
  top: -100px;
  right: 10px;
  height: 300px;
  width: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  position: absolute;
}

.card-footer img {
  width: 50px;
  filter: brightness(0) invert(1);
}
.card-footer p {
  text-align: left;
}
.title-p {
  text-align: left;
}

.fade {
  animation-duration: 1s;
  animation-fill-mode: both;
  padding: auto;
  animation-name: fade-in;
}

.fade-delay-small {
  animation-delay: 0.15s;
}

.fade-delay-medium {
  animation-delay: 0.3s;
}

.fade-delay-big {
  animation-delay: 0.4s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
:root {
  --nav-color: hsl(218, 41%, 20%);
  --color-nav: #719fef;
}
.navbar {
  background-color: var(--nav-color);
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.avtive,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: var(--color-nav);
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}

.container h2,
h3,
p {
  text-align: center;
}
.myimg-col {
  padding-right: 3rem;
}
.myimg img {
  width: 400px;
  border-radius: 0% 100% 43% 57% / 39% 100% 0% 61%;
  border: #44006b solid 2px;
}
.myimg-col p {
  text-align: justify;
}
#myimg-label {
  font-size: x-large;
  text-align: center;
}
.mycss,
.myphp,
.mybootstrap,
.mylaravel,
.myhtml,
.myjs {
  background-color: rgba(0, 0, 0, 0.121);
  height: fit-content;
  margin-left: 3rem;
}
#mycss,
#myphp,
#mybootstrap,
#mylaravel,
#myhtml,
#myjs {
  width: 70%;
  background-color: hsl(182, 86%, 36%);
  color: white;
  margin: 0;
}
#myhtml,
#mybootstrap {
  width: 85%;
}
#mylaravel {
  width: 60%;
}

.projects-container {
  background-color: rgba(0, 0, 0, 0.032);
}
.project-1,
.project-2,
.project-3 {
  width: 400px;
  height: 300px;
  border: #44006b 1px solid;
}
